
.vis-item.one{
  background-color: #996633;
}
.vis-item.two{
  background-color: #663300;
}
.vis-item.three{
  background-color: #cc9900;
}
.vis-item.four{
  background-color: #996600;
}
.vis-item.five{
  background-color: #ff9900;
}
.vis-item.six{
  background-color: #cc3300;
}
.vis-item.seven{
  background-color: #cc6600;
}
.vis-item.eight{
  background-color: #993300;
}
.vis-item.nine{
  background-color: #ff3300;
}
.vis-item.ten{
  background-color: #990000;
}
.vis-item.eleven{
  background-color: #ff0000;
}
.vis-item.twelve{
  background-color: #800000;
}
.vis-item.thirteen{
  background-color: #cc0000;
}
.vis-item.fourteen{
  background-color: #993333;
}
.vis-item.fifteen{
  background-color: #990033;
}
.vis-item.sixteen{
  background-color: #660033;
}
.vis-item.seventeen{
  background-color: #993366;
}

